outputs/*
samples/*
__pycache__/
objectfree/Grounded-SAM-2/*
objectfree/14653_keyframes/*
.env
Data/
samples/
outputs/
src/models/TransNetV2/
outputs_14653/*
examples
objectfree/extracted_images/*
outputs_eval
outputs_story_eval
outputs_detection
outputs_detection_0.2
objectfree/Grounded-SAM-2/checkpoints
objectfree/Grounded-SAM-2/SAM_2.egg-info
Pipeline
data/*
repos/*
objectfree/annotations/*
/backup/*
/yolo_splits/*
runs/*
objectfree/weight_model/*
objectfree/yoloe/*