outputs/*
samples/*
__pycache__/
objectfree/Grounded-SAM-2/*
objectfree/14653_keyframes/*
.env
Data/
samples/
outputs/
src/models/TransNetV2/
outputs_14653/*
examples
objectfree/extracted_images/*
outputs_eval
outputs_story_eval
outputs_detection
outputs_detection_0.2
objectfree/Grounded-SAM-2/checkpoints
objectfree/Grounded-SAM-2/SAM_2.egg-info
objectfree/Dinov3/*
Pipeline
data/*
repos/*
objectfree/annotations/*
/backup/*
/yolo_splits/*
runs/*
objectfree/weight_model/*
objectfree/yoloe/*
yoloe_dataset_characters/*
objectfree/yoloe_dataset_characters_0.2/*
objectfree/debug*
objectfree/weights/*
objectfree/weight_model/*
ablation/*
objectfree/*
demo_outputs
demo_*
output/*
./*.pt
./*.pth
./*.ckpt
CAST/tests/*
FINAL/*
FINAL_data/
CAST/isnet-detector/weights/
CAST/isnet-detector/isnet_detector.egg-info/